Source: pkg-components
Section: admin
Priority: extra
Maintainer: Nicholas Bamber <nicholas@periapt.co.uk>
Build-Depends: debhelper (>= 7.0.50~), libtest-pod-coverage-perl
Standards-Version: 3.9.1
Homepage: http://lists.debian.org/debian-devel/2010/09/msg00208.html
Vcs-Git: git://github.com:periapt/dh-component.git
Vcs-Browser: http://github.com/periapt/dh-component

Package: pkg-components
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, make, libfile-path-perl
Description: debhelper tool to help maintain bundles
 Support for additional components in debian/rules
 To be activated one would need to run 'dh --with components $@' and
 also there would have to be a 'debian/components' directory.
